body, html {
  margin: 0;
  padding: 0;
  color: white;
}
a{
  color: white;
}
p{
  margin: 0;
  padding: 0;
}
html{
  background-color: black;
}
span:hover{
  color: orange;
}
#logo_container{
  position:absolute;
  display:inline-block;
  padding: 10px;
  left: 5px;
  top: 5px;
  z-index:2;
}
#logo_container img{
  height:25%;
  width:25%;
}
#vid-div{
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  display:block;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
#background_img{
  /*for browsers who do not support html5 - do those exist still?*/
  position:fixed;
  height:100%;
  width:100%;
  background: url(assets/images/mountain.jpg);
  background-size: cover;
  z-index:-2;
}
#contact_container{
  position: absolute;
  display: inline-block;
  padding: 10px;
  right: 5px;
  top: 5px;
  z-index: 2;
}
#contact_container img{
  padding: 5px;
}
